.reviews {
  background: var(--color-background);
  padding-top: 30px;
  padding-bottom: 30px;
  overflow-x: auto;
}

.reviews__title {
  margin-bottom: 20px;
}

.reviews__list {
  display: flex;
  gap: 50px;
  overflow-x: auto;
 scroll-snap-type: x mandatory;
//  scrollbar-width: none;
  padding: 15px 0;
}

.reviews__item {
  display: flex;

  picture {
  //  width: 230px;
   // max-height: 420px;

    img {
      object-fit: contain;
    }
  }
}

.Swiper-reviews {
  width: 100%;
  height: 100%;
}

.slide-reviews {
 // text-align: center;
 // font-size: 18px;
 //// background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
 // max-width: 300px;
  height: 100%;
}

.image-reviews {
 // display: block;
  //max-width: 200px;
 max-height: 420px;
  object-fit: contain;

  @media (max-width: 780.98px) {
  //  max-height: 300px;
   // object-fit: contain;
  }

}
