<section class="about">
  <div class="container about__section">
    <h3 class="about__title-prev title">Приходите в наш шоурум</h3>
    <div class="visibility-video video">
      <video controls="controls" class="video__item" src="./atom.mp4"></video>
    </div>
    <div class="form__block">
      <h3 class="form__block_title title">Связаться с нами</h3>
      <form class="form footer__form">
        <div>
          <label for="name"></label>
          <input placeholder="Имя" type="text" id="name" name="name" required/>
        </div>
        <div>
          <label for="phone"></label>
          <input placeholder="Телефон" type="tel" id="phone" name="phone" required/>
        </div>
        <button type="submit">Отправить</button>
        <p class="footer__form__text"></p>
      </form>
    </div>
  </div>
</section>
