<section id="section-archibald" class="size">
  <div class="container">
    <h3 class="size__title title">Размеры</h3>
    <ul class="size__block block_size">
      <li class="block_size__card">
        <picture>
          <source srcset="./img/armchair/archibald/drawing/01.webp" type="image/webp">
          <img loading="lazy" src="./img/armchair/archibald/drawing/01.jpg" class="image" width="100px" height="100px" alt="фото">
        </picture>
        <h4 class="block_size__title">Какой-то заголовок</h4>
        <div class="size__sub-block">
          <p class="size__sub-block_title">Что то еще</p>
          <p class="size__sub-block_text">140х200, 160х200, 180х200, 200х200</p>
        </div>
        <div class="price__block">
          <p class="price">от 1600 руб<span></span></p>
          <button class="btn-reset price__btn" data-graph-path="modal1">Заказать</button>
        </div>
      </li>
      <li class="block_size__card">
        <picture>
          <source srcset="./img/armchair/archibald/drawing/02.webp" type="image/webp">
          <img loading="lazy" src="./img/armchair/archibald/drawing/02.jpg" class="image" width="100px" height="100px" alt="фото">
        </picture>
        <h4 class="block_size__title">Какой-то заголовок</h4>
        <div class="size__sub-block">
          <p class="size__sub-block_title">Что то еще</p>
          <p class="size__sub-block_text">140х200, 160х200, 180х200, 200х200</p>
        </div>
        <div class="price__block">
          <p class="price">от 1600 руб<span></span></p>
          <button class="btn-reset price__btn" data-graph-path="modal1">Заказать</button>
        </div>
      </li>
      <li class="block_size__card">
        <picture>
          <source srcset="./img/armchair/archibald/drawing/03.webp" type="image/webp">
          <img loading="lazy" src="./img/armchair/archibald/drawing/03.jpg" class="image" width="100px" height="100px" alt="фото">
        </picture>
        <h4 class="block_size__title">Какой-то заголовок</h4>
        <div class="size__sub-block">
          <p class="size__sub-block_title">Что то еще</p>
          <p class="size__sub-block_text">140х200, 160х200, 180х200, 200х200</p>
        </div>
        <div class="price__block">
          <p class="price">от 1600 руб<span></span></p>
          <button class="btn-reset price__btn" data-graph-path="modal1">Заказать</button>
        </div>
      </li>
    </ul>
  </div>
</section>
