<section class="sofa1-about ">
  <div class="sofa1-about-bg archibald-about">
    <h3 class="about__title">Archibald</h3>
    <div class="about__sofa1_btn-block">
<!--      <a href="#section-archibald" data-scroll class="config__btn">Конфигурации</a>-->
    </div>
  </div>

  <div class="swiper sofa__swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/armchair/archibald/01.webp" type="image/webp">
          <img loading="lazy" src="./img/armchair/archibald/01.jpg" class="image" width="200px" height="200px" alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/armchair/archibald/02.webp" type="image/webp">
          <img loading="lazy" src="./img/armchair/archibald/02.jpg" class="image" width="200px" height="200px" alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/armchair/archibald/03.webp" type="image/webp">
          <img loading="lazy" src="./img/armchair/archibald/03.jpg" class="image" width="200px" height="200px" alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/armchair/archibald/04.webp" type="image/webp">
          <img loading="lazy" src="./img/armchair/archibald/04.jpg" class="image" width="200px" height="200px" alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/armchair/archibald/05.webp" type="image/webp">
          <img loading="lazy" src="./img/armchair/archibald/05.jpg" class="image" width="200px" height="200px" alt="фото дивана">
        </picture>
      </div>

    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>
  <div class="about-desc container">
    <div class="desc__content">
      <h3 class="title2">Кресло Archibalt </h3>
      <p class="about__text">
        Это кресло - не просто мебель, а отражение индивидуальности.
      </p>
      <p class="about__text">
        Качество, красивый дизайн - вот что делает каждый предмет мебели маленьким шедевром.
      </p>

        <div class="price__block">
          <p class="price">от 1600 BYN<span></span></p>
          <button class="btn-reset price__btn" data-graph-path="modal1">Заказать</button>
      </div>
    </div>
  </div>
</section>
