<section class="see-also">
  <div class="container">
    <h3 class="see-also__title title">Смотрите также</h3>
    <div class="also-see service">
      <div class="service__card card-service">
        <div class="card-service__body">
          <a class="card-service__link" href="sofaTaos.html">
            <div class="card-service__image">
              <picture>
                <source srcset="./img/sofa/taos/01.webp" type="image/webp">
                <img loading="lazy" src="./img/sofa/taos/01.jpg" class="image" width="100" height="100" alt="фото">
              </picture>
              <div class="card-service__block">
                <p class="card-service__title">Taos</p>
                <p class="card-service__text">Диван</p>
              </div>
            </div>
            <p class="card-service__text-hover">Подробнее</p>
          </a>
        </div>
      </div>
      <div class="service__card card-service">
        <div class="card-service__body">
          <a class="card-service__link" href="dedCrown.html">
            <div class="card-service__image">
              <picture>
                <source srcset="./img/bed/crown/01.webp" type="image/webp">
                <img loading="lazy" src="./img/bed/crown/01.jpg" class="image" width="100" height="100"
                     alt="фото">
              </picture>

              <div class="card-service__block">
                <p class="card-service__title">Crown</p>
                <p class="card-service__text">Кровать</p>
              </div>
            </div>
            <p class="card-service__text-hover">Подробнее</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
