<section class="sofa1-about ">
  <div class="sofa1-about-bg bruno-about">
    <h3 class="about__title">Bruno</h3>
    <div class="about__sofa1_btn-block">
<!--      <a href="#section-bruno" data-scroll class="config__btn">Конфигурации</a>-->
    </div>
  </div>

  <div class="swiper sofa__swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/armchair/bruno/01.webp" type="image/webp">
          <img loading="lazy" src="./img/armchair/bruno/01.jpg" class="image" width="200px" height="200px" alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/armchair/bruno/02.webp" type="image/webp">
          <img loading="lazy" src="./img/armchair/bruno/02.jpg" class="image" width="200px" height="200px" alt="фото дивана">
        </picture>
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>
  <div class="about-desc container">
    <div class="desc__content">
      <h3 class="title2">Кресло Bruno</h3>
      <p class="about__text">
        Высокое удобное кресло с глубоким сиденьем.
      </p>
        <div class="price__block">
          <p class="price">от 1950 BYN<span></span></p>
          <button class="btn-reset price__btn" data-graph-path="modal1">Заказать</button>
      </div>
    </div>
  </div>
</section>
