<section class="advantages">
  <div class="container">
    <h3 class="advantages__title title">Преимущества</h3>
    <ol class="advantages__block">
      <li class="advantages__card">
        <picture>
          <source srcset="./img/bed/lowa/01.webp" type="image/webp">
          <img loading="lazy" src="./img/bed/lowa/01.jpg" class="image" width="100px" height="100px" alt="фото">
        </picture>
<!--        <h4 class="card__title">Подъемный механизм и доп. хранение</h4>-->
        <p class="card__text">Кровать имеет овальное изголовье деревянной конструкции с набивкой из пенополиуретана. В центральной части создана более мягкая вставка, обеспечивающая удобное функционирование спинки.</p>
      </li>
      <li class="advantages__card">
        <picture>
          <source srcset="./img/bed/lowa/02.webp" type="image/webp">
          <img loading="lazy" src="./img/bed/lowa/02.jpg" class="image" width="100px" height="100px" alt="фото">
        </picture>
        <h4 class="card__title">Для данной модели можно изменить:</h4>
        <p class="card__text">
         - наличие подъемного механизма;
          <br>- размер спального места;
          <br>- ткань обивки.
        </p>
      </li>
    </ol>
  </div>
</section>
