<section class="sofa1-about ">
  <div class="sofa1-about-bg alaska-about">
    <h3 class="about__title">Alaska</h3>
    <div class="about__sofa1_btn-block">
      <!--      <a href="#section-bora" data-scroll class="config__btn">Конфигурации</a>-->
    </div>
  </div>

  <div class="swiper sofa__swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/bed/alaska/02.webp" type="image/webp">
          <img loading="lazy" src="./img/bed/alaska/02.jpg" class="image" width="200" height="200" alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/bed/alaska/01.webp" type="image/webp">
          <img loading="lazy" src="./img/bed/alaska/01.jpg" class="image" width="200" height="200" alt="фото дивана">
        </picture>
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>

  <div class="about-desc container">
    <div class="desc__content">
      <h3 class="title2">Кровать Alaska</h3>
      <p class="about__text">
        Кровать подойдет как для маленьких, так и для просторных помещений.
      </p>
      <p>Для данной модели можно изменить:</p>
      <ul class="about__list list-reset">
        <li class="about__item">размер спального места;</li>
        <li class="about__item">наличие подъемного механизма;</li>
        <li class="about__item">изголовье;</li>
        <li class="about__item">ткань и цвет обивки.</li>
      </ul>
      <p class="about__text">
        Подберем «капсулу здорового сна» - правильный матрас, одеяло и подушки.
      </p>
      <div class="price__block">
        <p class="price">от 3300 BYN<span></span></p>
        <button class="btn-reset price__btn" data-graph-path="modal1">Заказать</button>
      </div>
    </div>
  </div>
</section>
