<section class="advantages">
  <div class="container">
    <h3 class="advantages__title title">Преимущества</h3>
    <ol class="advantages__block">
      <li class="advantages__card">
        <picture>
          <source srcset="./img/bed/bora/01.webp" type="image/webp">
          <img loading="lazy" src="./img/bed/bora/01.jpg" class="image" width="100" height="100" alt="фото">
        </picture>
        <h4 class="card__title">Кровать с пухлым изголовьем и тонким основанием.</h4>
        <p class="card__text">Массивные объёмы, чёткие линии и выверенные пропорции.</p>
        <p class="card__text">*Возможно «утопить» матрас ниже для удобной посадки.</p>
        <p class="card__text">*Возможна адаптация под детскую кровать.</p>
      </li>
      <li class="advantages__card">
        <picture>
          <source srcset="./img/bed/bora/02.webp" type="image/webp">
          <img loading="lazy" src="./img/bed/bora/02.jpg" class="image" width="100" height="100" alt="фото">
        </picture>
        <h4 class="card__title">Для данной модели можно изменить:</h4>
        <p class="card__text">- размер спального места;
          <br>- изголовье (высоту, ширину, толщину, форму - объединить в одно);
          <br>- наличие подъемного механизма;
          <br>- ткань обивки.
        </p>
      </li>
    </ol>
  </div>
</section>
