<section class="sofa1-about ">
  <div class="sofa1-about-bg bora-about">
    <h3 class="about__title">Bora</h3>
    <div class="about__sofa1_btn-block">
      <!--      <a href="#section-bora" data-scroll class="config__btn">Конфигурации</a>-->
    </div>
  </div>

  <div class="swiper sofa__swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/bed/bora/01.webp" type="image/webp">
          <img loading="lazy" src="./img/bed/bora/01.jpg" class="image" width="200" height="200" alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/bed/bora/02.webp" type="image/webp">
          <img loading="lazy" src="./img/bed/bora/02.jpg" class="image" width="200" height="200" alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/bed/bora/03.webp" type="image/webp">
          <img loading="lazy" src="./img/bed/bora/03.png" class="image" width="200" height="200" alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/bed/bora/04.webp" type="image/webp">
          <img loading="lazy" src="./img/bed/bora/04.png" class="image" width="200" height="200" alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/bed/bora/05.webp" type="image/webp">
          <img loading="lazy" src="./img/bed/bora/05.jpg" class="image" width="200" height="200" alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/bed/bora/06.webp" type="image/webp">
          <img loading="lazy" src="./img/bed/bora/06.jpg" class="image" width="200" height="200" alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/bed/bora/07.webp" type="image/webp">
          <img loading="lazy" src="./img/bed/bora/07.jpg" class="image" width="200" height="200" alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/bed/bora/08.webp" type="image/webp">
          <img loading="lazy" src="./img/bed/bora/08.jpg" class="image" width="200" height="200" alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/bed/bora/09.webp" type="image/webp">
          <img loading="lazy" src="./img/bed/bora/09.jpg" class="image" width="200" height="200" alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/bed/bora/10.webp" type="image/webp">
          <img loading="lazy" src="./img/bed/bora/10.jpg" class="image" width="200" height="200" alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/bed/bora/11.webp" type="image/webp">
          <img loading="lazy" src="./img/bed/bora/11.jpg" class="image" width="200" height="200" alt="фото дивана">
        </picture>
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>

  <div class="about-desc container">
    <div class="desc__content">
      <h3 class="title2">Кровать Bora</h3>
      <p class="about__text">
        Кровать с пухлым изголовьем и тонким основанием.
      </p>
      <p class="about__text">
        Массивные объёмы, чёткие линии и выверенные пропорции.
      </p>
      <p>Для данной модели можно изменить:</p>
      <ul class="about__list list-reset">
        <li class="about__item">размер спального места;</li>
        <li class="about__item">изголовье (высоту, ширину, толщину, форму - объединить в одно);</li>
        <li class="about__item">наличие подъемного механизма;</li>
        <li class="about__item">ткань обивки.</li>
      </ul>
      <p class="about__text">
        *Возможно «утопить» матрас ниже для удобной посадки.
      </p>
      <p class="about__text">
        *Возможна адаптация под детскую кровать.
      </p>
      <p class="about__text">
        Подберем «капсулу здорового сна» - правильный матрас, одеяло и подушки.
      </p>
      <div class="price__block">
        <p class="price">от 3300 BYN<span></span></p>
        <button class="btn-reset price__btn" data-graph-path="modal1">Заказать</button>
      </div>
    </div>
  </div>
</section>
