<footer class="footer">
  <div class="container">
    <div class="footer_block">
      <div>
        <p>ООО Арт Студио</p>
        <p>УНП 99999999</p>
      </div>
<!--      <div class="social__links social_footer">-->
<!--        <div class="links__block footer_links">-->
<!--          <a data-menu-item href="#" class="social__btn">Telegram</a>-->
<!--          <a data-menu-item href="#" class="social__btn">Whatsapp</a>-->
<!--          <a data-menu-item href="#" class="social__btn">Instagram</a>-->
<!--        </div>-->
<!--      </div>-->
     <div class="block__room room-footer">
        <a data-menu-item href="#" class="block__room_sity city__footer">
          <svg
            version="1.1"
            id="Layer_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 397.4 397.4"
            style="enable-background: new 0 0 397.4 397.4"
            xml:space="preserve"
          >
            <style type="text/css">
              .st0 {
                fill: url(#Fill-1_1_);
              }
              .st1 {
                fill: #ffcc00;
              }
              .st2 {
                fill: #eca704;
              }
            </style>
            <title>Color/icon_color</title>
            <desc>Created with Sketch.</desc>
            <g id="Navi">
              <g id="Color_x2F_icon_x5F_color">
                <g id="navi" transform="translate(56.000000, 56.000000)">
                  <g id="Group-2">
                    <g id="Group" transform="translate(1.589667, 0.993542)">
                      <linearGradient
                        id="Fill-1_1_"
                        gradientUnits="userSpaceOnUse"
                        x1="-540.1074"
                        y1="525.6934"
                        x2="-539.1074"
                        y2="526.6934"
                        gradientTransform="matrix(397.4168 0 0 -397.4168 214590.1562 209259.7812)"
                      >
                        <stop offset="0" style="stop-color: #ffcc00" />
                        <stop offset="1" style="stop-color: #ffe992" />
                      </linearGradient>
                      <polygon
                        id="Fill-1"
                        class="st0"
                        points="339.8,-57 -57.6,104.5 116.3,166.6 178.4,340.4 "
                      />
                      <polygon
                        id="Fill-3"
                        class="st1"
                        points="339.8,-57 110.1,172.8 178.4,340.4 "
                      />
                      <polygon
                        id="Fill-4"
                        class="st2"
                        points="103.9,179 178.4,340.4 153.5,129.3 -57.6,104.5 "
                      />
                    </g>
                  </g>
                </g>
              </g>
            </g>
          </svg>
          <span>Минск</span>
        </a>
        <p class="block__rooms_adres">
          Холодильный переулок, 3с4. м. Тульская (Товарищество рябовской
          мануфактуры)
        </p>
        <a data-menu-item href="tel:375291234567" class="block__rooms_link  link__footer"
          >+375 (29) 123-45-67</a
        >
      </div>
      <div>
        <p>Copyright © 2024 arte studio</p>
        <p>Все права защищены.</p>
      </div>


    </div>
  </div>
</footer>
