<section class="sofa">
  <div class="container">
    <h1 class="sofa__title">Кровати</h1>
    <div class="cards">
      <div class="card">
        <a href="dedBora.html" class="card__image">
          <picture>
            <source srcset="./img/bed/bora/01.webp" type="image/webp"/>
            <img
              loading="lazy"
              src="./img/bed/bora/01.jpg"
              class="image"
              width="200"
              height="200"
              alt="фография кровати"
            />
          </picture>
        </a>
        <p class="card__desk">Bora</p>
      </div>
      <div class="card">
        <a href="dedIowa.html" class="card__image">
          <picture>
            <source srcset="./img/bed/lowa/01.webp" type="image/webp"/>
            <img
              loading="lazy"
              src="./img/bed/lowa/01.jpg"
              class="image"
              width="200"
              height="200"
              alt="фография кровати"
            />
          </picture>
        </a>
        <p class="card__desk">Iowa
        </p>
      </div>
      <div class="card">
        <a href="dedArgo.html" class="card__image">
          <picture>
            <source srcset="./img/bed/argo/01.webp" type="image/webp"/>
            <img
              loading="lazy"
              src="./img/bed/argo/01.jpg"
              class="image"
              width="200"
              height="200"
              alt="фография кровати"
            />
          </picture>
        </a>
        <p class="card__desk">Argo
        </p>
      </div>
      <div class="card">
        <a href="dedCrown.html" class="card__image">
          <picture>
            <source srcset="./img/bed/crown/01.webp" type="image/webp"/>
            <img
              loading="lazy"
              src="./img/bed/crown/01.jpg"
              class="image"
              width="200"
              height="200"
              alt="фография кровати"
            />
          </picture>
        </a>
        <p class="card__desk">Crown
        </p>
      </div>
      <div class="card">
        <a href="dedEster.html" class="card__image">
          <picture>
            <source srcset="./img/bed/ester/01.webp" type="image/webp"/>
            <img
              loading="lazy"
              src="./img/bed/ester/01.jpg"
              class="image"
              width="200"
              height="200"
              alt="фография кровати"
            />
          </picture>
        </a>
        <p class="card__desk">Ester
        </p>
      </div>
      <div class="card">
        <a href="dedAlys.html" class="card__image">
          <picture>
            <source srcset="./img/bed/alys/01.webp" type="image/webp"/>
            <img
              loading="lazy"
              src="./img/bed/alys/01.jpg"
              class="image"
              width="200"
              height="200"
              alt="фография кровати"
            />
          </picture>
        </a>
        <p class="card__desk">Alys
        </p>
      </div>
      <div class="card">
        <a href="bedPrada.html" class="card__image">
          <picture>
            <source srcset="./img/bed/prada/01.webp" type="image/webp"/>
            <img
              loading="lazy"
              src="./img/bed/prada/01.jpg"
              class="image"
              width="200"
              height="200"
              alt="фография кровати Prada"
            />
          </picture>
        </a>
        <p class="card__desk">Prada
        </p>
      </div>

    </div>
  </div>
</section>
