<section class="sofa">
  <div class="container">
    <h1 class="sofa__title">Диваны</h1>
    <div class="cards">
      <div class="card">
        <a href="sofaCrown.html" class="card__image">
          <picture>
            <source srcset="./img/sofa/crown/01.webp" type="image/webp"/>
            <img loading="lazy" src="./img/sofa/crown/01.jpg" class="image" width="300" height="300"
                 alt="фография дивана"/>
          </picture>
        </a>
        <p class="card__desk">Crown</p>
      </div>
      <div class="card">
        <a href="sofaMilton.html" class="card__image">
          <picture>
            <source srcset="./img/sofa/milton/01.webp" type="image/webp"/>
            <img loading="lazy" src="./img/sofa/milton/01.jpg" class="image" width="300" height="300"
                 alt="фография дивана"/>
          </picture>
        </a>
        <p class="card__desk">Milton</p>
      </div>
      <div class="card">
        <a href="sofaFrei.html" class="card__image">
          <picture>
            <source srcset="./img/sofa/frei/01.webp" type="image/webp"/>
            <img loading="lazy" src="./img/sofa/frei/01.jpg" class="image" width="300" height="300"
                 alt="фография дивана"/>
          </picture>
        </a>
        <p class="card__desk">Frei</p>
      </div>
      <div class="card">
        <a href="sofaDion.html" class="card__image">
          <picture>
            <source srcset="./img/sofa/dion/01.webp" type="image/webp"/>
            <img loading="lazy" src="./img/sofa/dion/01.jpg" class="image" width="300" height="300"
                 alt="фография дивана"/>
          </picture>
        </a>
        <p class="card__desk">Dion</p>
      </div>
      <div class="card">
        <a href="sofaTeo.html" class="card__image">
          <picture>
            <source srcset="./img/sofa/teo/01.webp" type="image/webp"/>
            <img loading="lazy" src="./img/sofa/teo/01.jpg" class="image" width="300" height="300"
                 alt="фография дивана"/>
          </picture>
        </a>
        <p class="card__desk">Teo</p>
      </div>
      <div class="card">
        <a href="sofaLiv.html" class="card__image">
          <picture>
            <source srcset="./img/sofa/liv/01.webp" type="image/webp"/>
            <img loading="lazy" src="./img/sofa/liv/01.jpg" class="image" width="300" height="300"
                 alt="фография дивана"/>
          </picture>
        </a>
        <p class="card__desk">Liv</p>
      </div>
      <div class="card">
        <a href="sofaLeon.html" class="card__image">
          <picture>
            <source srcset="./img/sofa/leon/01.webp" type="image/webp"/>
            <img loading="lazy" src="./img/sofa/leon/01.jpg" class="image" width="300" height="300"
                 alt="фография дивана"/>
          </picture>
        </a>
        <p class="card__desk">Leon</p>
      </div>
      <div class="card">
        <a href="sofaEros.html" class="card__image">
          <picture>
            <source srcset="./img/sofa/eros/01.webp" type="image/webp"/>
            <img loading="lazy" src="./img/sofa/eros/01.jpg" class="image" width="300" height="300"
                 alt="фография дивана"/>
          </picture>
        </a>
        <p class="card__desk">Eros</p>
      </div>
      <div class="card">
        <a href="sofaAutoReverse.html" class="card__image">
          <picture>
            <source srcset="./img/sofa/autoreverse/01.webp" type="image/webp"/>
            <img loading="lazy" src="./img/sofa/autoreverse/01.jpg" class="image" width="300" height="300"
                 alt="фография дивана"/>
          </picture>
        </a>
        <p class="card__desk">Auto-reverse</p>
      </div>
      <div class="card">
        <a href="sofaSoft.html" class="card__image">
          <picture>
            <source srcset="./img/sofa/soft/01.webp" type="image/webp"/>
            <img loading="lazy" src="./img/sofa/soft/01.jpg" class="image" width="300" height="300"
                 alt="фография дивана"/>
          </picture>
        </a>
        <p class="card__desk">Soft</p>
      </div>
      <div class="card">
        <a href="sofaMain.html" class="card__image">
          <picture>
            <source srcset="./img/sofa/main/01.webp" type="image/webp"/>
            <img loading="lazy" src="./img/sofa/main/01.jpg" class="image" width="300" height="300"
                 alt="фография дивана"/>
          </picture>
        </a>
        <p class="card__desk">Main</p>
      </div>
      <div class="card">
        <a href="sofaMoon.html" class="card__image">
          <picture>
            <source srcset="./img/sofa/moon/01.webp" type="image/webp"/>
            <img loading="lazy" src="./img/sofa/moon/01.jpg" class="image" width="300" height="300"
                 alt="фография дивана"/>
          </picture>
        </a>
        <p class="card__desk">Moon</p>
      </div>
      <div class="card">
        <a href="sofaHilton.html" class="card__image">
          <picture>
            <source srcset="./img/sofa/hilton/01.webp" type="image/webp"/>
            <img loading="lazy" src="./img/sofa/hilton/01.jpg" class="image" width="300" height="300"
                 alt="фография дивана"/>
          </picture>
        </a>
        <p class="card__desk">Hilton</p>
      </div>
      <div class="card">
        <a href="sofaTaos.html" class="card__image">
          <picture>
            <source srcset="./img/sofa/taos/01.webp" type="image/webp"/>
            <img loading="lazy" src="./img/sofa/taos/01.jpg" class="image" width="300" height="300"
                 alt="фография дивана"/>
          </picture>
        </a>
        <p class="card__desk">Taos</p>
      </div>
      <div class="card">
        <a href="sofaBanoffy.html" class="card__image">
          <picture>
            <source srcset="./img/sofa/banoffy/01.webp" type="image/webp"/>
            <img loading="lazy" src="./img/sofa/banoffy/01.jpg" class="image" width="300" height="300"
                 alt="фография дивана"/>
          </picture>
        </a>
        <p class="card__desk">Banoffy</p>
      </div>
      <div class="card">
        <a href="sofaGuinness.html" class="card__image">
          <picture>
            <source srcset="./img/sofa/guinness/01.webp" type="image/webp"/>
            <img loading="lazy" src="./img/sofa/guinness/01.jpg" class="image" width="300" height="300"
                 alt="фография дивана"/>
          </picture>
        </a>
        <p class="card__desk">Guinness</p>
      </div>
    </div>
  </div>
</section>
