<section class="sofa">
  <div class="container">
    <h1 class="sofa__title">Кресла</h1>
    <div class="cards">
      <div class="card">
        <a href="armchairArchibald.html" class="card__image">
          <picture>
            <source srcset="./img/armchair/archibald/01.webp" type="image/webp"/>
            <img
              loading="lazy"
              src="./img/armchair/archibald/01.jpg"
              class="image"
              width="200px"
              height="200px"
              alt="фография кресла"
            />
          </picture>
        </a>
        <p class="card__desk">Archibald</p>
      </div>

      <div class="card">
        <a href="armchairBruno.html" class="card__image">
          <picture>
            <source srcset="./img/armchair/bruno/01.webp" type="image/webp"/>
            <img
              loading="lazy"
              src="./img/armchair/bruno/01.jpg"
              class="image"
              width="200px"
              height="200px"
              alt="фография кресла"
            />
          </picture>
        </a>
        <p class="card__desk">Bruno</p>
      </div>


    </div>
  </div>
</section>
