<section class="hero">
  <div class="container hero__cards">
    <div class="cards">
      <div class="card">
        <a href="sofa.html" class="card__image">
          <picture>
            <source srcset="./img/sofa/crown/01.webp" type="image/webp" />
            <img loading="lazy" src="./img/sofa/crown/01.jpg" class="image" width="200" height="200" alt="фография дивана" />
          </picture>
        </a>
        <p class="card__desk">Диваны</p>
      </div>
      <div class="card">
        <a href="deds.html" class="card__image">
          <picture>
            <source srcset="./img/bed/bora/01.webp" type="image/webp" />
            <img loading="lazy" src="./img/bed/bora/01.jpg" class="image" width="200" height="200" alt="фография кровати" />
          </picture>
        </a>
        <p class="card__desk">Кровати</p>
      </div>
      <div class="card">
        <a href="armchair.html" class="card__image">
          <picture>
            <source srcset="./img/armchair/archibald/01.webp" type="image/webp" />
            <img loading="lazy" src="./img/armchair/archibald/01.jpg" class="image" width="200" height="200"
              alt="фография дивана" />
          </picture>
        </a>
        <p class="card__desk">Кресла</p>
      </div>
    </div>
  </div>
</section>
