<div class="graph-modal">
  <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="modal1">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"><span></span></button>
    <div class="graph-modal__content">
      <h4 class="modal__title">Заказ продукции</h4>
      <div class="picture__block">
        <picture>
          <source srcset="" type="image/webp">
          <img loading="lazy" src="" class="image" width="100" height="100" alt="фото">
        </picture>
      </div>
      @include('../partials/form.html')
    </div>
  </div>
</div>
