<section class="sofa1-about ">
  <div class="sofa1-about-bg soft-about">
    <h3 class="about__title">Soft</h3>
    <div class="about__sofa1_btn-block">
      <!--      <a href="#section-soft" data-scroll class="config__btn">Конфигурации</a>-->
    </div>
  </div>

  <div class="swiper sofa__swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/soft/01.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/soft/01.jpg" class="image" width="200" height="200" alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/soft/02.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/soft/02.jpg" class="image" width="200" height="200" alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/soft/03.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/soft/03.jpg" class="image" width="200" height="200" alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/soft/04.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/soft/04.jpg" class="image" width="200" height="200" alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/soft/05.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/soft/05.jpg" class="image" width="200" height="200" alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/soft/06.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/soft/06.jpg" class="image" width="200" height="200" alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/soft/07.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/soft/07.jpg" class="image" width="200" height="200" alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/soft/08.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/soft/08.jpg" class="image" width="200" height="200" alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/soft/09.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/soft/09.jpg" class="image" width="200" height="200" alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/soft/10.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/soft/10.jpg" class="image" width="200" height="200" alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/soft/11.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/soft/11.jpg" class="image" width="200" height="200" alt="фото дивана">
        </picture>
      </div>

    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>

  <div class="about-desc container">
    <div class="desc__content">
      <h3 class="title2">Soft</h3>
      <p> Своим оформлением угловой диван Soft демонстрирует эстетику и стиль:</p>
      <ul class="about__list list-reset">
        <li class="about__item">«мягкие» формы;</li>
        <li class="about__item">оптимальный угол посадки;</li>
        <li class="about__item">высокие металлические ножки;</li>
        <li class="about__item">широкие подлокотники.</li>
      </ul>
      <p class="about__text">
        Диван Soft возможно сделать с раскладкой, поэтому он не только обеспечит комфортный отдых днем, но и предоставит
        полноценное спальное место.
      </p>
      <p>Для данной модели дивана можно изменить:</p>
      <ul class="about__list list-reset">
        <li class="about__item">наличие раскладки;</li>
        <li class="about__item">конфигурацию (угловой, прямой);</li>
        <li class="about__item">размеры;</li>
        <li class="about__item">мягкость;</li>
        <li class="about__item">ножки (высоту, наличие или отсутствие ножек);</li>
        <li class="about__item">ткань обивки.</li>
      </ul>
      <div class="price__block">
        <p class="price">от 5520 BYN<span></span></p>
        <button class="btn-reset price__btn" data-graph-path="modal1">Заказать</button>
      </div>
    </div>
  </div>
</section>
