<section class="advantages">
  <div class="container">
    <h3 class="advantages__title title">Преимущества</h3>
    <ol class="advantages__block">
      <li class="advantages__card">
        <picture>
          <source srcset="./img/sofa/liv/01.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/liv/01.jpg" class="image" width="100" height="100" alt="фото дивана">
        </picture>
        <h4 class="card__title">Заголовок</h4>
        <p class="card__text">Описание</p>
      </li>
      <li class="advantages__card">
        <picture>
          <source srcset="./img/sofa/liv/02.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/liv/02.jpg" class="image" width="100" height="100" alt="фото дивана">
        </picture>
        <h4 class="card__title">Заголовок</h4>
        <p class="card__text">Описание</p>
      </li>
    </ol>
  </div>
</section>
