<section class="sofa1-about ">
  <div class="sofa1-about-bg leon-about">
    <h3 class="about__title">Leon</h3>
    <div class="about__sofa1_btn-block">
<!--      <a href="#section-leon" data-scroll class="config__btn">Конфигурации</a>-->
    </div>
  </div>

  <div class="swiper sofa__swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/leon/01.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/leon/01.jpg" class="image" width="200px" height="200px" alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/leon/02.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/leon/02.jpg" class="image" width="200px" height="200px" alt="фото дивана">
        </picture>
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>

</section>
