<section class="sofa1-about ">
  <div class="sofa1-about-bg liv-about">
    <h3 class="about__title">Liv</h3>
    <div class="about__sofa1_btn-block">
      <!--      <a href="#section-liv" data-scroll class="config__btn">Конфигурации</a>-->
    </div>
  </div>

  <div class="swiper sofa__swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/liv/01.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/liv/01.jpg" class="image" width="200" height="200" alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/liv/02.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/liv/02.jpg" class="image" width="200" height="200" alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/liv/03.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/liv/03.jpg" class="image" width="200" height="200" alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/liv/04.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/liv/04.jpg" class="image" width="200" height="200" alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/liv/05.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/liv/05.jpg" class="image" width="200" height="200" alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/liv/06.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/liv/06.jpg" class="image" width="200" height="200" alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/liv/07.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/liv/07.jpg" class="image" width="200" height="200" alt="фото дивана">
        </picture>
      </div>

    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>

  <div class="about-desc container">
    <div class="desc__content">
      <h3 class="title2">Liv</h3>
      <p class="about__text">
        Лаконичная, яркая, харизматичная и невероятно комфортная, а эффектный дизайн с легким винтажным акцентом
        обязательно привлечет к себе внимание. Подойдет как для офиса, так и для дома.
      </p>
      <p>Для данной модели можно изменить:</p>
      <ul class="about__list list-reset">
        <li class="about__item">длину;</li>
        <li class="about__item">мягкость;</li>
        <li class="about__item">ткань обивки.</li>
      </ul>
      <p class="about__text">
        *Спинка дивана жесткая за счет толщины.
      </p>
      <div class="price__block">
        <p class="price">от 4010 BYN<span></span></p>
        <button class="btn-reset price__btn" data-graph-path="modal1">Заказать</button>
      </div>
    </div>
  </div>
</section>
