<section class="sofa1-about ">
  <div class="sofa1-about-bg cosmo-about">
    <h3 class="about__title">Cosmo</h3>
    <div class="about__sofa1_btn-block">
      <!--      <a href="#section2" data-scroll class="config__btn">Конфигурации</a>-->
    </div>
  </div>

  <div class="swiper sofa__swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/cosmo/01.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/cosmo/01.jpg" class="image" width="200px" height="200px" alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/cosmo/02.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/cosmo/02.jpg" class="image" width="200px" height="200px" alt="фото дивана">
        </picture>
      </div>

    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>

  <div class="about-desc container">
    <div class="desc__content">
      <h3 class="title2">Диван Cosmo</h3>
      <p class="about__text">
        Диван COSMO с его окантовкой и глубиной, словно «укромный уголок», в который можно изысканно погрузиться - окутанный высокой спинкой, поднимающимися подлокотниками, поддерживающими подушками для поясницы.
      </p>
        <ul class="about__list list-reset">
        Для данной модели можно изменить:
        <li class="about__item">мягкость;</li>
        <li class="about__item">длину;</li>
        <li class="about__item">ткань и цвет обивки.</li>
      </ul>
      <div class="price__block">
        <p class="price">от 4010 BYN<span></span></p>
        <button class="btn-reset price__btn" data-graph-path="modal1">Заказать</button>
      </div>
    </div>
  </div>
</section>
