<section class="advantages">
  <div class="container">
    <h3 class="advantages__title title">Преимущества</h3>
    <ol class="advantages__block">
      <li class="advantages__card">
        <picture>
          <source srcset="./img/sofa/crown/01.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/crown/01.jpg" class="image" width="100" height="100" alt="фото">
        </picture>
        <p class="card__text">Софа Crown - лаконичная, яркая, харизматичная и невероятно комфортная, а эффектный дизайн с легким винтажным акцентом обязательно привлечет к себе внимание. Подойдет как для офиса, так и для дома.</p>
      </li>
      <li class="advantages__card">
        <picture>
          <source srcset="./img/sofa/crown/02.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/crown/02.jpg" class="image" width="100" height="100" alt="фото">
        </picture>
        <h4 class="card__title">Для данной модели можно изменить:</h4>
        <p class="card__text">- Размеры (длину, глубину, высоту);
          <br>- Высоту посадки (за счет изменения ножек);
          <br>- Ткань и цвет обивки.
        </p>
      </li>
      <li class="advantages__card">
        <picture>
          <source srcset="./img/sofa/crown/03.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/crown/03.jpg" class="image" width="100" height="100" alt="фото">
        </picture>
        <p class="card__text">Мягкая спинка с продуманными линиями, глубокая посадка - все, что нужно для поддержки поясницы и комфортного отдыха.</p>
      </li>
    </ol>
  </div>
</section>
