<section class="sofa1-about ">
  <div class="sofa1-about-bg eros-about">
    <h3 class="about__title">Eros</h3>
    <div class="about__sofa1_btn-block">
<!--      <a href="#section-eros" data-scroll class="config__btn">Конфигурации</a>-->
    </div>
  </div>

  <div class="swiper sofa__swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/eros/01.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/eros/01.jpg" class="image" width="200px" height="200px" alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/eros/02.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/eros/02.jpg" class="image" width="200px" height="200px" alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/eros/03.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/eros/03.jpg" class="image" width="200px" height="200px" alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/eros/04.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/eros/04.jpg" class="image" width="200px" height="200px" alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/eros/05.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/eros/05.jpg" class="image" width="200px" height="200px" alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/eros/06.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/eros/06.jpg" class="image" width="200px" height="200px" alt="фото дивана">
        </picture>
      </div>

    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>
  <div class="about-desc container">
    <div class="desc__content">
      <h3 class="title2">Диван Eros</h3>
      <p class="about__text">
        Элегантность дивана EROS выражена в горизонтальных, четких и современных линиях.
        Высочайший уровень комфорта обеспечивается благодаря подушкам, которые превращают гостиную в настоящее место для отдыха.
      </p>
        <ul class="about__list list-reset">
          Для данной модели можно изменить:
        <li class="about__item">мягкость;</li>
        <li class="about__item">размеры;</li>
        <li class="about__item">ткань обивки.</li>
      </ul>
        <div class="price__block">
          <p class="price">от 4200 BYN<span></span></p>
          <button class="btn-reset price__btn" data-graph-path="modal1">Заказать</button>
      </div>
    </div>
  </div>
</section>
