<section class="sofa1-about ">
  <div class="sofa1-about-bg banoffy-about">
    <h3 class="about__title">Banoffy</h3>
    <div class="about__sofa1_btn-block">
<!--      <a href="#section-banoffy" data-scroll class="config__btn">Конфигурации</a>-->
    </div>
  </div>

  <div class="swiper sofa__swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/banoffy/01.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/banoffy/01.jpg" class="image" width="200px" height="200px" alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/banoffy/02.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/banoffy/02.jpg" class="image" width="200px" height="200px" alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/banoffy/03.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/banoffy/03.jpg" class="image" width="200px" height="200px" alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/banoffy/04.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/banoffy/04.jpg" class="image" width="200px" height="200px" alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/banoffy/05.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/banoffy/05.jpg" class="image" width="200px" height="200px" alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/banoffy/06.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/banoffy/06.jpg" class="image" width="200px" height="200px" alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/banoffy/07.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/banoffy/07.jpg" class="image" width="200px" height="200px" alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/banoffy/08.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/banoffy/08.jpg" class="image" width="200px" height="200px" alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/banoffy/09.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/banoffy/09.jpg" class="image" width="200px" height="200px" alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/banoffy/10.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/banoffy/10.jpg" class="image" width="200px" height="200px" alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/banoffy/11.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/banoffy/11.jpg" class="image" width="200px" height="200px" alt="фото дивана">
        </picture>
      </div>

    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>

  <div class="about-desc container">
    <div class="desc__content">
      <h3 class="title2">Banoffy</h3>
      <p class="about__text">
        Диван Banoffy привлекает внимание своим уникальным сочетанием форм, элегантности и комфорта. Он становится фокусом внимания в любом интерьере и придает ему неповторимый шарм и стиль.
            </p>
            <p class="about__text">
              Футуристические формы и модульная конструкция позволяют свободно комбинировать и переставлять его элементы, создавая бесконечные варианты композиций. Благодаря этому, он может адаптироваться к любому помещению, дизайну, стилю и удовлетворять потребности каждого.
                        </p>
        <ul class="about__list list-reset">
          Для данной модели дивана можно изменить:
        <li class="about__item">Количество модулей;</li>
        <li class="about__item">Размеры;</li>
        <li class="about__item">Конфигурацию;</li>
        <li class="about__item">Ткань обивки.</li>
      </ul>
      <p class="about__text">
        *Данную модель возможно изготовить только без раскладки.
              <div class="price__block">
        <p class="price">от 5590 BYN<span></span></p>
        <button class="btn-reset price__btn" data-graph-path="modal1">Заказать</button>
      </div>
    </div>
  </div>
</section>
