<section class="sofa1-about ">
  <div class="sofa1-about-bg main-about">
    <h3 class="about__title">Main</h3>
    <div class="about__sofa1_btn-block">
      <!--      <a href="#section-main" data-scroll class="config__btn">Конфигурации</a>-->
    </div>
  </div>

  <div class="swiper sofa__swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/main/01.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/main/01.jpg" class="image" width="200" height="200" alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/main/02.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/main/02.jpg" class="image" width="200" height="200" alt="фото дивана">
        </picture>
      </div>

    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>
  <div class="about-desc container">
    <div class="desc__content">
      <h3 class="title2">Диван Main</h3>
      <p class="about__text">
        Диван с утонченными подлокотниками и остроугольными мягкими подушками станут заметным элементом современной
        гостиной. Подушки и каркас оформлены объемным кантом и прошиты двойной строчкой.
      </p>
      <p>Для данной модели можно изменить:</p>
      <ul class="about__list list-reset">
        <li class="about__item">конфигурацию;</li>
        <li class="about__item">наличие раскладки;</li>
        <li class="about__item">длину, глубину, высоту;</li>
        <li class="about__item">мягкость (для варианта без раскладки).</li>
      </ul>
      <div class="price__block">
        <p class="price">от 4700 BYN<span></span></p>
        <button class="btn-reset price__btn" data-graph-path="modal1">Заказать</button>
      </div>
    </div>
  </div>
</section>
