<section class="sofa1-about ">
  <div class="sofa1-about-bg auto-reverse">
    <h3 class="about__title">auto-reverse</h3>
    <div class="about__sofa1_btn-block">
      <!--      <a href="#section-auto-reverse" data-scroll class="config__btn">Конфигурации</a>-->
    </div>
  </div>

  <div class="swiper sofa__swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/autoReverse/01.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/autoReverse/01.jpg" class="image" width="200" height="200"
               alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/autoReverse/02.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/autoReverse/02.jpg" class="image" width="200" height="200"
               alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/autoReverse/03.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/autoReverse/03.jpg" class="image" width="200" height="200"
               alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/autoReverse/04.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/autoReverse/04.jpg" class="image" width="200" height="200"
               alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/autoReverse/05.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/autoReverse/05.jpg" class="image" width="200" height="200"
               alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/autoReverse/06.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/autoReverse/06.jpeg" class="image" width="200" height="200"
               alt="фото дивана">
        </picture>
      </div>
<!--      <div class="swiper-slide">-->
<!--        <picture>-->
<!--          <source srcset="./img/sofa/autoReverse/07.webp" type="image/webp">-->
<!--          <img loading="lazy" src="./img/sofa/autoReverse/07.jpeg" class="image" width="200" height="200"-->
<!--               alt="фото дивана">-->
<!--        </picture>-->
<!--      </div>-->
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/autoReverse/08.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/autoReverse/08.jpeg" class="image" width="200" height="200"
               alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/autoReverse/09.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/autoReverse/09.jpg" class="image" width="200" height="200"
               alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/autoReverse/10.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/autoReverse/10.jpg" class="image" width="200" height="200"
               alt="фото дивана">
        </picture>
      </div>

    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>

  <div class="about-desc container">
    <div class="desc__content">
      <h3 class="title2">Auto-reverse</h3>
      <p class="about__text">
        Диван с яркой индивидуальностью. Неповторимый дизайн и незабываемый комфорт - этот диван несомненный центр
        притяжения современной гостиной.
      </p>
      <p> Диван Auto-reverse - это больше, чем элегантная мебель, так как она:</p>
      <ul class="about__list list-reset">
        <li class="about__item">позволяет играть со стилем, преображая пространство;</li>
        <li class="about__item">молнии на подушках соединяют две обивки и подчеркивают необычный дизайн;</li>
        <li class="about__item">используя различные цвета молний и тканей можно создать тысячи сочетаний.</li>
      </ul>
      <p>Для данной модели дивана можно изменить:</p>
      <ul class="about__list list-reset">
        <li class="about__item">конфигурацию;</li>
        <li class="about__item">размеры дивана;</li>
        <li class="about__item">ткань обивки;</li>
        <li class="about__item">мягкость подушек;</li>
        <li class="about__item">ножки (цвет, высоту, форму, длину, толщину, расположение).</li>
      </ul>
      <div class="price__block">
        <p class="price">от 5300 BYN<span></span></p>
        <button class="btn-reset price__btn" data-graph-path="modal1">Заказать</button>
      </div>
    </div>
  </div>
</section>
