<section class="sofa1-about ">
  <div class="sofa1-about-bg dion-about">
    <h3 class="about__title">Dion</h3>
    <div class="about__sofa1_btn-block">
<!--      <a href="#section-dion" data-scroll class="config__btn">Конфигурации</a>-->
    </div>
  </div>

  <div class="swiper sofa__swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/dion/01.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/dion/01.jpg" class="image" width="200px" height="200px" alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/dion/02.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/dion/02.jpg" class="image" width="200px" height="200px" alt="фото дивана">
        </picture>
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>
  <div class="about-desc container">
    <div class="desc__content">
      <h3 class="title2">Диван Dion</h3>
      <p class="about__text">
        Диван DION с широкими вертикальными каналами и низким дизайном - фантастический предмет для развлечений и отдыха.
      </p>
        <ul class="about__list list-reset">
          Для данной модели можно изменить:
        <li class="about__item">мягкость;</li>
        <li class="about__item">длину, ширину, глубину, высоту;</li>
        <li class="about__item">ткань и цвет обивки.</li>
      </ul>
        <div class="price__block">
          <p class="price">от 5590 BYN<span></span></p>
          <button class="btn-reset price__btn" data-graph-path="modal1">Заказать</button>
      </div>
    </div>
  </div>
</section>
