<section class="sofa1-about ">
  <div class="sofa1-about-bg taos-about">
    <h3 class="about__title">Taos</h3>
    <div class="about__sofa1_btn-block">
<!--      <a href="#section-taos" data-scroll class="config__btn">Конфигурации</a>-->
    </div>
  </div>

  <div class="swiper sofa__swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/taos/01.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/taos/01.jpg" class="image" width="200px" height="200px" alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/taos/02.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/taos/02.jpg" class="image" width="200px" height="200px" alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/taos/03.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/taos/03.jpg" class="image" width="200px" height="200px" alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/taos/04.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/taos/04.jpg" class="image" width="200px" height="200px" alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/taos/05.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/taos/05.jpg" class="image" width="200px" height="200px" alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/taos/06.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/taos/06.jpg" class="image" width="200px" height="200px" alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/taos/07.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/taos/07.jpg" class="image" width="200px" height="200px" alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/taos/08.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/taos/08.jpg" class="image" width="200px" height="200px" alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/taos/09.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/taos/09.jpeg" class="image" width="200px" height="200px" alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/taos/10.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/taos/10.jpeg" class="image" width="200px" height="200px" alt="фото дивана">
        </picture>
      </div>

    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>
  <div class="about-desc container">
    <div class="desc__content">
      <h3 class="title2">Taos</h3>
      <p class="about__text">
        Необычный, мягкий, комфортный, большой, современный - все это про диван Taos.
      </p>

         <p class="about__text">
          Декоративные канты подчеркивают геометричность его формы, которая легко вписывается в любой интерьер.
          </p>
          <p class="about__text">
                      Модульная система Taos позволяет вам переставлять модули по своим пожеланиям и получать новый диван лёгким движением руки!
    </p>

        <ul class="about__list list-reset">
        Для данной модели можно изменить:
        <li class="about__item">Ткань обивки;</li>
        <li class="about__item">Мягкость;</li>
        <li class="about__item">Конфигурацию;</li>
        <li class="about__item">Форму;</li>
        <li class="about__item">Длину, глубину, высоту.</li>
      </ul>

      <div class="price__block">
        <p class="price">от 4170 BYN<span></span></p>
        <button class="btn-reset price__btn" data-graph-path="modal1">Заказать</button>
      </div>
    </div>
  </div>
</section>
