<section class="advantages">
  <div class="container">
    <h3 class="advantages__title title">Преимущества</h3>
    <ol class="advantages__block">
      <li class="advantages__card">
        <picture>
          <source srcset="./img/sofa/teo/01.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/teo/01.jpg" class="image" width="100" height="100" alt="фото дивана">
        </picture>
        <p class="card__text">Диван Teo сочетает в себе удобную посадку, простоту и стиль, придавая вашему пространству
          изысканность.
          Его премиальный внешний вид и декоративные подушки добавляют интерьеру уникальности. </p>
      </li>
      <li class="advantages__card">
        <picture>
          <source srcset="./img/sofa/teo/02.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/teo/02.jpg" class="image" width="100" height="100" alt="фото дивана">
        </picture>
        <h4 class="card__title">Можем изменить:</h4>
        <p class="card__text">- Размеры (длину, глубину, высоту посадки);
          <br>- Конфигурацию;
          <br>- Ткань обивки.
        </p>
      </li>
    </ol>
  </div>
</section>
