<section class="sofa1-about ">
  <div class="sofa1-about-bg teo-about">
    <h3 class="about__title">Teo</h3>
    <div class="about__sofa1_btn-block">
<!--      <a href="#section-teo" data-scroll class="config__btn">Конфигурации</a>-->
    </div>
  </div>

  <div class="swiper sofa__swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/teo/01.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/teo/01.jpg" class="image" width="200px" height="200px" alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/teo/02.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/teo/02.jpg" class="image" width="200px" height="200px" alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/teo/03.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/teo/03.jpg" class="image" width="200px" height="200px" alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/teo/04.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/teo/04.jpg" class="image" width="200px" height="200px" alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/teo/05.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/teo/05.jpg" class="image" width="200px" height="200px" alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/teo/06.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/teo/06.jpg" class="image" width="200px" height="200px" alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/teo/07.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/teo/07.jpg" class="image" width="200px" height="200px" alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/teo/08.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/teo/08.jpg" class="image" width="200px" height="200px" alt="фото дивана">
        </picture>
      </div>

    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>

  <div class="about-desc container">
    <div class="desc__content">
      <h3 class="title2">Диван Teo</h3>
      <p class="about__text">
        Сочетает в себе удобную посадку, простоту и стиль, придавая вашему пространству изысканность.
      </p>
      <p class="about__text">
        Его премиальный внешний вид и декоративные подушки добавляют интерьеру уникальности.
            </p>
        <ul class="about__list list-reset">
        Для данной модели можно изменить:
        <li class="about__item">Размеры (длину, глубину, высоту посадки);</li>
        <li class="about__item">Конфигурацию;</li>
        <li class="about__item">Ткань обивки.</li>
      </ul>
        <p class="price">от 5300 BYN<span></span></p>
        <button class="btn-reset price__btn" data-graph-path="modal1">Заказать</button>
      </div>
    </div>
  </div>
</section>
