<section class="sofa1-about ">
  <div class="sofa1-about-bg frei-about">
    <h3 class="about__title">Frei</h3>
    <div class="about__sofa1_btn-block">
      <!--      <a href="#section-frei" data-scroll class="config__btn">Конфигурации</a>-->
    </div>
  </div>

  <div class="swiper sofa__swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/frei/01.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/frei/01.jpg" class="image" width="200" height="200" alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/frei/02.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/frei/02.jpg" class="image" width="200" height="200" alt="фото дивана">
        </picture>
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>

  <div class="about-desc container">
    <div class="desc__content">
      <h3 class="title2">Диван Frei</h3>
      <p class="about__text">
        Подушки сиденья и спинки мягко опираются на внутреннюю структуру дивана, напоминая естественный, уютный мир,
        создавая неформальное и удобное сидение: дополнительная подушка опирается на боковую конструкцию и становится
        мягким подлокотником, увеличивающим площадь поверхности для лежания.
      </p>
      <p class="about__text">
        Дизайн отличается приятными «морщинами», созданными на обивке, которые усиливают мягкость конструкции и
        усиливают ощущение комфорта.
      </p>
      <p>Для данной модели можно изменить:</p>
      <ul class="about__list list-reset">
        <li class="about__item">мягкость;</li>
        <li class="about__item">конфигурацию;</li>
        <li class="about__item">длину, высоту, ширину, глубину;</li>
        <li class="about__item">ткань и цвет обивки.</li>
      </ul>
      <div class="price__block">
        <p class="price">от 4675 BYN<span></span></p>
        <button class="btn-reset price__btn" data-graph-path="modal1">Заказать</button>
      </div>
    </div>
  </div>
</section>
