<section class="sofa1-about ">
  <div class="sofa1-about-bg leon-about">
    <h3 class="about__title">Leon</h3>
    <div class="about__sofa1_btn-block">
<!--      <a href="#section-leon" data-scroll class="config__btn">Конфигурации</a>-->
    </div>
  </div>

  <div class="swiper sofa__swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/leon/01.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/leon/01.jpg" class="image" width="200px" height="200px" alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/leon/02.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/leon/02.jpg" class="image" width="200px" height="200px" alt="фото дивана">
        </picture>
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>

  <div class="about-desc container">
    <div class="desc__content">
      <h3 class="title2">Leon</h3>
      <p class="about__text">
        Лаконичный, стильный и невероятно комфортный.
      </p>
      <p class="about__text">
        Leon - это сочетание эстетического внешнего вида, высокого качества и прочности.
      </p>
      <p class="about__text">
        Интересное дизайнерское решение - столик на месте одного из подлокотников. На нём можно удобно расположить журнал, книгу или чашку с чаем.
      </p>
        <ul class="about__list list-reset">
          Для данной модели дивана можно изменить:
        <li class="about__item">Ткань обивки;</li>
        <li class="about__item">Мягкость;</li>
        <li class="about__item">Конфигурацию;</li>
        <li class="about__item">Наличие раскладки;</li>
        <li class="about__item">Длину, глубину, высоту (для варианта без раскладки).</li>
      </ul>
      <p class="about__text">
        Мягкая спинка с продуманными линиями, глубокая посадка - все, что нужно для поддержки поясницы и комфортного отдыха.      </p>
      <div class="price__block">
        <p class="price">от 5700 BYN<span></span></p>
        <button class="btn-reset price__btn" data-graph-path="modal1">Заказать</button>
      </div>
    </div>
  </div>
</section>
