<section class="sofa1-about ">
  <div class="sofa1-about-bg guinness-about">
    <h3 class="about__title">Guinness</h3>
    <div class="about__sofa1_btn-block">
<!--      <a href="#section-guinness" data-scroll class="config__btn">Конфигурации</a>-->
    </div>
  </div>

  <div class="swiper sofa__swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/guinness/01.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/guinness/01.jpg" class="image" width="200px" height="200px" alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/guinness/02.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/guinness/02.jpg" class="image" width="200px" height="200px" alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/guinness/03.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/guinness/03.jpg" class="image" width="200px" height="200px" alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/guinness/04.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/guinness/04.jpg" class="image" width="200px" height="200px" alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/guinness/05.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/guinness/05.png" class="image" width="200px" height="200px" alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/guinness/06.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/guinness/06.png" class="image" width="200px" height="200px" alt="фото дивана">
        </picture>
      </div>
      <div class="swiper-slide">
        <picture>
          <source srcset="./img/sofa/guinness/07.webp" type="image/webp">
          <img loading="lazy" src="./img/sofa/guinness/07.jpg" class="image" width="200px" height="200px" alt="фото дивана">
        </picture>
      </div>


    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>

  <div class="about-desc container">
    <div class="desc__content">
      <h3 class="title2">Диван Guinness</h3>
      <p class="about__text">
        Диван Guinness сочетает в себе современность, комфорт, стиль и позволит воплотить в жизнь любые решения! Комбинируйте модули, создавайте свое неповторимое пространство.
      </p>
        <ul class="about__list list-reset">
          Для данной модели дивана вы можете изменить:
        <li class="about__item">размер;</li>
        <li class="about__item">мягкость;</li>
        <li class="about__item">ткань и цвет обивки.</li>
      </ul>
        <div class="price__block">
          <p class="price">от 5590 BYN<span></span></p>
          <button class="btn-reset price__btn" data-graph-path="modal1">Заказать</button>
      </div>
    </div>
  </div>
</section>
