<section id="section2" class="technical">
  <div class="container">
    <h3 class="technical__title title" >Технические данные</h3>
    <div class="technical__block">
      <picture>
        <source srcset="./img/sofa/crown/drawing/01.webp" type="image/webp">
        <img loading="lazy" src="./img/sofa/crown/drawing/01.jpg" class="image" width="" height="" alt="">
      </picture>
      <picture>
        <source srcset="./img/sofa/crown/drawing/02.webp" type="image/webp">
        <img loading="lazy" src="./img/sofa/crown/drawing/02.jpg" class="image" width="" height="" alt="">
      </picture>
    </div>
  </div>
</section>
